@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,textarea,p,pre,ul,li,dt,dl,dd,ol,form,select{
    margin:0;padding:0;
    list-style:none;
    font-family: "微软雅黑";
}
img{
    border:0;
}
a{
    text-decoration:none!important;
    color:#000;
}
body{
    width:100%;height:100%;
    background:url("../image/login_bg.jpg")  fixed center;    
}
.padding_0{padding:0;}
/* 登录中间框样式  */
.login_inner .form-horizontal{
    width:355px;margin:0 auto;background:#fff;margin-top:14px;
    padding-bottom:15px;padding-top:20px;height:200px;
}
.form-horizontal .form-group{
    line-height:32px;width:290px;margin:0 auto;margin-top:10px;
 }
.tjButton{
    text-align:center;width:250px;
    position:absolute;left:0;right:-27px;margin:auto;
}
.tjButton button{
    background-color:#3575ea;font-size:14px;color:white;border-radius:25px;float:left;
    width:95px;height:32px;border:2px solid #99B8F0;margin-left:30px;
}
/* 登录最大框  */
.login_box{
    width:638px;height:286px;
    position:fixed;left:0;right:0;top:0;bottom:0;margin:auto;
}
.login_title{
    width:393px;height:38px;background:url("../image/login_title.png") center;
    margin:0 auto;
}
.login_line{
    width:638px;height:29px;background:url("../image/login_line.png") center;
    position:fixed;z-index:1;
}
/* 表单 */
.form-control{
    border-radius:15px!important;height:30px;padding-left:40px; width:290px!important;
}
.one{
    background:url("../image/username1.png") no-repeat 15px 5px;
}
.two{
    background:url("../image/pass1.png") no-repeat 15px 5px;
}
.three{
    background:url("../image/yzm1.png") no-repeat 15px 5px;
}
.form-control-feedback{
    position:absolute;top:0;right:0!important;z-index:2;display:block;
    text-align:center;width:30px;height:30px;line-height:30px;pointer-events:none;
}
.form-control-feedback:first-of-type{
    bottom:-30px;
}
/* 验证码 */
.yzm_img{
    height:20px;position:absolute;top:0;bottom:0;margin:auto;right:20px;color:#fff;
    /* background:#687481; */
    padding:0 8px;border-radius:10px;line-height:20px;
    z-index:9999;cursor:pointer;
}
/*弹窗标题*/
.layui-layer-title{
    padding:0!important;
}
/*弹窗按钮*/
.mesButton{
	text-align:center;
}
.mesButton button{
	background-color:#3575ea;
	font-size:14px;
	font-weight:bold;
	color:white;
	width:90px;
	border-radius:20px;
	border:4px solid #d4d4d4;
}
/*二维码*/
.ewm{
    width:50px;height:50px;float:right;background:url(../image/model.png);
    background-size:50px 50px;cursor:pointer;
}
.ewm-box{
    width:355px;height:200px;background:#e6eaee;margin:0 auto;margin-top:14px;
    position:relative;display:none;
}
.ewm_wz{
    width:355px;text-align:center;padding:20px 0 15px 0;
}
.ewm_img{
    width:120px;height:120px;margin:0 auto;background:url(../image/app.png);
    background-size:120px 120px;
}
.computer{
    width:50px;height:50px;background:url(../image/c.png);cursor:pointer;
    background-size:50px 50px;position:absolute;bottom:0;right:0;
}